<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title><%= global.varTitleApp %></title>
    
<link rel="shortcut icon" href="/images/estrutura/favicon.ico" />
<link rel="icon" href="/images/estrutura/favicon.ico" type="image/x-icon" />

<!-- Bootstrap -->
<link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/bootstrap-select.css" rel="stylesheet" />
<link href="/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
<link href="/css/editable/css/bootstrap-editable.css" rel="stylesheet" />

<!-- Validação -->
<link href="/css/parsley.css" rel="stylesheet" />

<!-- Jquery UI -->
<link href="/css/jqueryUI/jquery-ui.theme.min.css" rel="stylesheet" />
<link href="/css/jqueryUI/jquery-ui.min.css" rel="stylesheet" />
<link href="/css/jqueryUI/jquery-ui.structure.min.css" rel="stylesheet" />

<% if (calendar == true) { %>
    <!-- Calendário -->
    <link href="/js/fullcalendar/fullcalendar.css" rel="stylesheet" />
<% } %>

<!-- Projeto -->
<link href="/css/estilo.min.css" rel="stylesheet" />
<link href="/css/estilo-cliente.css" rel="stylesheet" />

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<% if(calendarjsPDF == true) { %>
    <!-- jsPDF -->
    <script type="text/javascript" src="/js/jspdf.min.js"></script>
<% } %>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-TXfwrfuHVznxCssTxWoPZjhcss/hp38gEOH8UPZG/JcXonvBQ6SlsIF49wUzsGno" crossorigin="anonymous">