<span class="bol" style="color:#289a8e;"><%= global.varTitleApp %></span>
<% if (global.appLoggedFDTASP){ %><span style="font-size:11px;"><a href="fab/versionamento.asp" data-toggle="tooltip" data-placement="top" title="Consulte a versão atual e o histórico de atualizações"><i class="fal fa-link"></i> Versão e histórico de atualizações</a></span><% } %>
<span style="font-size:11px; padding-top:10px;"><i>Frase de rodapé</i></span>
<span style="font-size:11px;"><i><a href="http://www.google.com.br" target="_blank" data-toggle="tooltip" data-placement="top" title="Conheça a solução completa"><i class="fal fa-link"></i> www.google.com.br</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.google.com.br" target="_blank" data-toggle="tooltip" data-placement="top" title="Conheça as demais soluções"><i class="fal fa-link"></i> www.google.com.br</a></i></span>
<span style="font-size:11px; padding-top:10px;" class="nor ita cin" id="manterLogado"></span>
